body {
    padding-top: 10px;
  }

div {
  background-color: white;
  display: block;
}

div.container {
  display: block;
  border: dashed 1px black;
  margin: 0 auto;
  padding: 25px;
}

div.menu-item {
  display: block;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
}

div.menu-img {
  background-image: url("https://images.kitchenstories.io/wagtailOriginalImages/R2675-final-photo-_2.jpg");
  background-size: cover;
  display: inline-block;
  border: 1px dotted black;
  width: 20%;
  padding-bottom: 20%
}

div.menu-txt {
  display: inline-block;
}

div.menu-name {
  display: inline-block;
  border: 1px dotted black;
  text-align: left;
  width: 60%;
}

div.menu-price {
  display: inline-block;
  border: 1px dotted black;
  text-align: right;
  width: 10%;
}

h1.motto {
  display: block;
  color: orange;
  text-align: center;
}

h2.motto {
  display: block;
  color: gray;
  text-align: center;
  font-style: italic;
}

img.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}