body {
    padding-top: 10px;
  }

div {
  background-color: white;
  display: block;
}

h1.motto {
  display: block;
  color: orange;
  text-align: center;
  
}

h2.motto {
  display: block;
  color: gray;
  text-align: center;
  font-style: italic;
}

img.food {
  padding: 4px;
  width: 10px;
}