body {
    padding-top: 10px;
  }

div {
  background-color: white;
  display: block;
}

div.container {
  display: block;
  border: dashed 1px black;
  margin: 0 auto;
  padding: 25px;
}

div.menu-item {
  display: block;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  width: 100%;
  border: 1px dotted black;
}

div.menu-img {
  background-image: url("https://images.kitchenstories.io/wagtailOriginalImages/R2675-final-photo-_2.jpg");
  background-size: cover;
  display: inline;
  border: 1px dotted black;
  width: 10%;
  padding-bottom: 10%;
  float: left;
}

div.menu-txt {
  display: block;
  align-items: center;
  border: 1px dotted black;
  height: auto;
}

div.menu-name {
  display: inline-block;
  border: 1px dotted black;
  text-align: left;
  width: 80%;
}

div.menu-price {
  display: inline-block;
  border: 1px dotted black;
  text-align: right;
  width: 5%;
}

div.menu-button {
  display: block;
  border: 1px dotted black;
  width: 100%;
}

h1.motto {
  display: block;
  color: orange;
  font-size: 2.5vw;
  text-align: center;
}

h2.motto {
  display: block;
  color: gray;
  font-size: 2vw;
  text-align: center;
  font-style: italic;
}

img.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

button.order {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 1px;
  cursor: pointer;
  width: 5%;
}

p.menu-txt {
  font-size: 1.5vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
}